@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is based on ASP.NET and developed by <a href="https://t.me/boykin_m">Maxim Boykin</a> from Solbegsoft.</p>
